<!doctype html>
<html lang="{{{ language }}}">
<head>
  <!-- app version {{{ version }}} -->
  <meta charset="utf-8">
  <title>{{{ metaTitle }}}</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.png">
</head>
  <body>
    <noscript>
      <p>If you see this message this means that <strong>JavaScript has been disabled in your browser.</strong></p>
      <p>You need to <strong>enable Javascript</strong> in order to use this interface.</p>
    </noscript>
    <script>{{{ envScript }}}</script>
    <script>{{{ exampleScript }}}</script>

    <app-root></app-root>

    <script src="{{{ root }}}/main.js"></script>
    <script src="{{{ root }}}/apollo.js"></script>
    <script src="{{{ root }}}/react.js"></script>
    <script src="{{{ root }}}/react-dom.js"></script>
    <script src="{{{ root }}}/vendors.js"></script>
  </body>
</html>